// Lumos
$black: #000000;
$gray: #191919;
$lightGray: #e4e4e4;
$white: #ffffff;
$accent: #ec7c44;
// Outlife
$darkGrayOutlife: #101010;
$grayOutlife: #969696;
$lightGrayOutlife: #f7f7f7;
$whiteOtlife: #f1f1f1;
